
<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Story Manager</title>
</head>
<body>
    <h1>User Story manager - Add new Story</h1>
    <form action="/story" method="POST" name="stuff">
        <p>
            Story Title<br>
            <input type="text" name="story_title">
        </p>
        <p>
            User Story<br>
            <input type="text" name="user_story">
        </p>
        <p>
            Acceptance criteria<br>
            <input type="text" name="acceptance_criteria">
        </p>
        <p>
            Business Value<br>
            <input type="number" name="business_value" min="100" max="1500" step="100">
        </p>
        <p>
            Estimation (h)<br>
            <input type="number" name="estimation" min="0.5" max="40" step="0.5">
        </p>
        <p>
            Status<br>
            <select name="status">
                <option value="planning">Planning</option>
                <option value="todo">TODO</option>
                <option value="in_progress">In Progress</option>
                <option value="review">Review</option>
                <option value="done">Done</option>
            </select>
        </p>
        <p>
            <input type="submit" value="Create"></input>
        </p>
    </form>
</body>
</html>